{{ define "product-list_popular" }}		

{{range GetTopLikes .Session}}

<div class="col-lg-3 col-xl-3 col-sm-6 product-ajax-cont ">
                <div data-id="{{ .ID}}" itemscope itemtype="http://schema.org/Product" class="product" id="bx_3966226736_{{ .ID}}"  data-unit="гр.">
                    <div data-modal="product-detail" class="preview md-trigger">

					
{{ if .IsProductLabels}}
		<div class="product-labels">
{{range .ProductLabels}}	<div title="{{ .LabelName}}" class="product-label"><img src="{{.LabelPicUri}}"></div> {{ end }}
		 </div>
{{ end }}
                                                    
                            <picture>
                                <source srcset="{{ .ImgUri }}" media="(max-width: 554px)">
                                <source srcset="{{ .ImgUri }}" media="(max-width: 768px)">
                                <source srcset="{{ .ImgUri }}" media="(max-width: 992px)">
                                <source srcset="{{ .ImgUri }}" media="(max-width: 2000px)">

                                <img
                                    srcset="{{ .ImgUri }}"
                                    alt="{{ .Caption }}"
                                    title="{{ .Caption }}"
                                    class="product-image"
									src="{{ .ImgUri }}"
                                />
                            </picture>
                            <a style="display: none;" itemprop="image" href="{{ .ImgUri }}" onclick="return false;"></a>
                        
                        <div class="overlay" onclick="getProductDetail()">
                            <div class="zoom-btn"></div>
                        </div>
							{{ if .NoSale }}
							<div title="На этот товар не действуют дополнительные скидки и акции" class="without-sale"></div>
                            {{ end }}
                            <div class="likes {{ if .IsLike }}liked{{ end }}">
                            <div class="like-content">
                                <div class="like-icon"></div><span>{{ .LikesCount }}</span>
                            </div>
							</div>
                    </div>
                    <div class="product-info"><a href="{{ .ItmUri}}" class="product-title font-fix"><span itemprop="name">{{ .Caption }}</span></a>
                        <div itemprop="description" class="product-description">
                            <div class="preview-text">{{ .Discription}}</div>
							<div class="composition">
									{{ range .CompositList }}
							        	<a href="#" class="composition__item detail" data-roll-id="{{ .Id}}"> {{ .Name }}
                                            <div class="composition__item__popover detail" data-roll-id="{{ .Id}}">
                                                <div class="composition__item__image"><img src="{{ .PicUri }}"></div>
                                                <div class="composition__item__text">
                                                    <p class="composition__item__name"><strong>{{ .Name }}</strong></p>
                                                    <p class="composition__item__detail">{{ .Dicrip }}</p>
                                                </div>
                                            </div>
                                        </a>
									{{ end }}
                            </div>
						</div>
						<div class="product-energy" style="display: none"><a href="#">Энергетическая ценность</a>
							        <div class="energy-value-content">
								        <ul>
									        <li style="display: none"><span class="meta-property protein">
                              <div>Белки</div></span><span class="meta-value"></span></li>
									        <li style="display: none"><span class="meta-property fats">
                              <div>Жиры</div></span><span class="meta-value"></span></li>
									        <li style="display: none"><span class="meta-property carbo">
                              <div>Углеводы</div></span><span class="meta-value"></span></li>
									        <li>
										        <span class="meta-property energy">
                              <div>Калорийность</div></span><span class="meta-value"></span></li>
								        </ul>
							        </div>
						</div>
                        <div class="product-options">
                                                    </div>
                                                <div class="product-footer base-price">
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-prices font-fix">

{{ if .IsOldPrice}}
	                  <span class="old-price" >
	                  	<span class="line-through">{{.OldPrice}}</span><span class="currency">R</span>
	                  </span>
{{ end }}
                                <span  class="current-price"><span itemprop="price">{{.Price}}</span><span class="currency">R</span>
                              <span itemprop="priceCurrency" class="text-hide">RUB</span>
                              </span>

                                <span class="weight" ><span>{{.Weight}}</span><span> гр.</span></span>

                            </div>
                            <div class="product-actions  ">
                                                                                                
                                                                                                <a  data-id="{{ .ID}}" href="#" class="add-to-cart-btn native">В корзину</a>
                                                            </div>
                        </div>
                                            </div>
                </div>
            </div>
			
			
			
 {{end}}

 

{{ end }}