{{ define "404" }}

{{ template "header" . }}
<body class="  index-page fixed-header">
{{ template "menu" . }} 
</header>

{{ if .IsMobile }}

<div id="page">

<main class="content container">
        <div class="content-page page-404 font-fix">
          <h1>Ошибка!</h1>
          <div class="status-icon icon-404">
		  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.6939 13.601">
		  <defs><style>.cls-1{fill:#ffffff;}</style></defs>
		  <title>404</title>
		  <path class="cls-1" d="M84.6866,46.5031h1.1466v2.07H84.6866v2.8883H82.1178V48.573H77.7329l-0.1367-1.6143,4.5122-8.7174h2.5781v8.2618h0Zm-4.7475,0h2.1787V41.9382l-0.0527-.0091-0.1364.2446-1.99,4.3293h0Z" transform="translate(-59.1393 -38.0525)"/>
		  <path class="cls-1" d="M76.3787,46.2767a6.4971,6.4971,0,0,1-1.0473,4.01,3.5961,3.5961,0,0,1-5.6432,0,6.494,6.494,0,0,1-1.0537-4.01V43.4352a6.5154,6.5154,0,0,1,1.0506-4.007,3.5815,3.5815,0,0,1,5.6432,0,6.5175,6.5175,0,0,1,1.05,4.007v2.8415h0ZM73.8,43.209a6,6,0,0,0-.3348-2.3335,0.9548,0.9548,0,0,0-.9357-0.6911H72.4771a0.9457,0.9457,0,0,0-.936.6911,6.1474,6.1474,0,0,0-.3282,2.3335v3.2785a6.0921,6.0921,0,0,0,.3376,2.355,0.9393,0.9393,0,0,0,.9453.6848h0.0525a0.92,0.92,0,0,0,.9267-0.6817A6.2508,6.2508,0,0,0,73.8,46.4876V43.209h0Z" transform="translate(-59.1393 -38.0525)"/>
		  <path class="cls-1" d="M66.23,46.5031h1.1465v2.07H66.23v2.8883H63.6609V48.573H59.2759l-0.1366-1.6143,4.5122-8.7174H66.23v8.2618h0Zm-4.7475,0h2.1788V41.9382l-0.0527-.0091-0.1364.2446-1.99,4.3293h0Z" transform="translate(-59.1393 -38.0525)"/>
		  </svg>
		  </div>
          <div class="status-title">Такой страницы не существует</div><a href="/" class="to-root">Вернуться на главную</a>
        </div>
</main>

</div>

{{ else }}

<main class="content container">
        <div class="content-page page-404 font-fix">
          <h1>Ошибка!</h1>
          <div class="status-icon icon-404">
		  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.6939 13.601">
		  <defs><style>.cls-1{fill:#ffffff;}</style></defs>
		  <title>404</title>
		  <path class="cls-1" d="M84.6866,46.5031h1.1466v2.07H84.6866v2.8883H82.1178V48.573H77.7329l-0.1367-1.6143,4.5122-8.7174h2.5781v8.2618h0Zm-4.7475,0h2.1787V41.9382l-0.0527-.0091-0.1364.2446-1.99,4.3293h0Z" transform="translate(-59.1393 -38.0525)"/>
		  <path class="cls-1" d="M76.3787,46.2767a6.4971,6.4971,0,0,1-1.0473,4.01,3.5961,3.5961,0,0,1-5.6432,0,6.494,6.494,0,0,1-1.0537-4.01V43.4352a6.5154,6.5154,0,0,1,1.0506-4.007,3.5815,3.5815,0,0,1,5.6432,0,6.5175,6.5175,0,0,1,1.05,4.007v2.8415h0ZM73.8,43.209a6,6,0,0,0-.3348-2.3335,0.9548,0.9548,0,0,0-.9357-0.6911H72.4771a0.9457,0.9457,0,0,0-.936.6911,6.1474,6.1474,0,0,0-.3282,2.3335v3.2785a6.0921,6.0921,0,0,0,.3376,2.355,0.9393,0.9393,0,0,0,.9453.6848h0.0525a0.92,0.92,0,0,0,.9267-0.6817A6.2508,6.2508,0,0,0,73.8,46.4876V43.209h0Z" transform="translate(-59.1393 -38.0525)"/>
		  <path class="cls-1" d="M66.23,46.5031h1.1465v2.07H66.23v2.8883H63.6609V48.573H59.2759l-0.1366-1.6143,4.5122-8.7174H66.23v8.2618h0Zm-4.7475,0h2.1788V41.9382l-0.0527-.0091-0.1364.2446-1.99,4.3293h0Z" transform="translate(-59.1393 -38.0525)"/>
		  </svg>
		  </div>
          <div class="status-title">Такой страницы не существует</div><a href="/" class="to-root">Вернуться на главную</a>
        </div>
      </main>

{{ end }}


<!-- PC START -->

   <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/animate.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.fancybox.css" type="text/css" rel="stylesheet"> 
   <link href="/assets/css/flickity.css" type="text/css" rel="stylesheet">
   <link href="/assets/jquery/jquery-ui.min.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.scrollbar.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.webui-popover.css" rel="stylesheet">
   <link href="/assets/css/selectordie.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/roboto.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/currency.css" type="text/css" rel="stylesheet">

	<script type="text/javascript" async src="/assets/jquery/jquery-ui.min.js"></script>
	<script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
	<script type="text/javascript" async src="/assets/js/popover.js"></script>
	<script type="text/javascript" async src="/assets/js/popper.js"></script>
	<script type="text/javascript" async src="/assets/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" async src="/assets/js/jquery.scrollbar.js"></script>
	<script type="text/javascript" async src="/assets/js/jquery.mask.min.js"></script>	
	<script type="text/javascript" async src="/assets/js/flickity.pkgd.js"></script>
	<script type="text/javascript" async src="/assets/js/selectordie.js"></script>
	<script type="text/javascript" async src="/assets/js/modal.js"></script>
	<script type="text/javascript" async  src="/assets/js/infinite-scroll.js"></script>
	<script type="text/javascript" async src="/assets/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- PC END -->
</body>
{{ end }}