{{ define "cabinet" }}

{{ template "header" . }}
<body class="  index-page fixed-header">
{{ template "menu" . }}
</header>

<script>
{{$User := GetCurrentUser .Session }};
console.log({{$User}});
</script>

{{ if .IsMobile }}

<div id="page">
<div class="content">

<div class="profile-view main-view" style="margin-top: 50px;" id="cabinetmenu">
<div class="config-item"><a href="#orders">История заказов</a></div>
 <div class="config-item"><a href="#">Бонусный счет</a></div>
<div class="config-item"><a href="#profile">Личные данные</a></div>
</div>

<div class="profile-view personal-view" style="display: none" id="profile">
	<form action="" method="post">
		<input type="hidden" name="USER[ID]"  value="{{$User.CustomerID}}">
            <div class="bd-input">
              <input type="text" name="USER[NAME]" placeholder="Имя" value="{{ $User.Name }}">
            </div>
            <div class="bd-input">
              <input type="text" maxlength="10" name="USER[BIRTHDAY]" value="" placeholder="Дата рождения">
            </div>
<!-- 
            <div class="bd-input">
              <input type="text" name="USER[EMAIL]" value="<?php echo $arResult['USER']['EMAIL']; ?>" placeholder="<?= GetMessage("profile_email"); ?>">
            </div>
 -->
            <div class="bd-input">
              <input type="text" name="USER[PHONE]" value="{{ $User.Phones }}" placeholder="Телефон">
            </div>

<!--            <div class="gender-toggle-cont">
	            <input type="hidden" name="USER[GENDER]" value="<?php echo $arResult['USER']['GENDER']; ?>"/>
              <div class="gender-toggle font-fix">
	              <a href="#" <?php if($arResult['USER']['GENDER']=='male'): ?>class="active"<?php endif; ?> name="time_type" id="male"><?= GetMessage("profile_man"); ?></a><a href="#" <?php if($arResult['USER']['GENDER']=='female'): ?>class="active"<?php endif; ?> name="time_type" id="female"><?= GetMessage("profile_women"); ?></a></div>
            </div> -->
            <div class="profile-phone-cont">
	          <!--<?php if(COption::GetOptionString('bd.deliverysushi', 'BD_CF_AUTH_TYPE', '', SITE_ID) == 'sms'): ?>
              <div class="phone-value"><?php echo $arResult['USER']['PHONE']; ?></div>
              <div class="phone-change"><?= GetMessage("profile_text_change_email"); ?> <?php echo \COption::GetOptionString('bd.deliverysushi','BD_SITE_PHONE', '', SITE_ID) ?></div>
              <?php endif; ?>
              -->
              <div class="phone-value">{{ $User.EMail }}</div>
              <div class="phone-change">Чтобы изменить электронную почту обратитесь в службу поддержки по телефону +7 (473) 229-58-54</div>
              <div class="checkboxes-mobile notify_checkbox">
                <div class="bd-row-checkbox multi" data-target="USER[NOTIFY_SMS]">
                  <div class="base-image base-img-profile">
                    <div class="image checkout_ico_checked">
                      <svg viewBox="0 0 16 16"><path d="M54.04,48.75L50.106,53.2158H50.1044a0.9616,0.9616,0,0,1-.3215.2579v0.002a0.8512,0.8512,0,0,1-.7.0309,0.9307,0.9307,0,0,1-.2761-0.1678l-0.0017-.002-2.4466-2.3111a1.0781,1.0781,0,0,1-.3532-0.7056,1.1246,1.1246,0,0,1,.2041-0.7719h0a0.9164,0.9164,0,0,1,.06-0.0751l0.002-.0023a0.9131,0.9131,0,0,1,.5771-0.31,0.877,0.877,0,0,1,.6211.1655c0.0218,0.0156.0456,0.0349,0.0711,0.0573l1.7436,1.6948,3.3387-3.73c0.0116-.0142.0332-0.0374,0.0626-0.068a0.9059,0.9059,0,0,1,.5922-0.2792,0.8848,0.8848,0,0,1,.6137.2012l0.0008-.0017c0.0179,0.0147.0406,0.0352,0.0675,0.0612h0.0017a1.0961,1.0961,0,0,1,.3189.726,1.1129,1.1129,0,0,1-.2412.76L54.04,48.75h0Z" transform="translate(-42 -44)"/></svg>
                    </div>
                  </div>
                  <input type="hidden" name="USER[NOTIFY_SMS]" value=""/>
                  <span>Получать уведомления по sms</span>
                </div>
                <div class="bd-row-checkbox multi" data-target="USER[NOTIFY_EMAIL]">
                  <div class="base-image base-img-profile">
                    <div class="image checkout_ico_checked">
                      <svg viewBox="0 0 16 16"><path d="M54.04,48.75L50.106,53.2158H50.1044a0.9616,0.9616,0,0,1-.3215.2579v0.002a0.8512,0.8512,0,0,1-.7.0309,0.9307,0.9307,0,0,1-.2761-0.1678l-0.0017-.002-2.4466-2.3111a1.0781,1.0781,0,0,1-.3532-0.7056,1.1246,1.1246,0,0,1,.2041-0.7719h0a0.9164,0.9164,0,0,1,.06-0.0751l0.002-.0023a0.9131,0.9131,0,0,1,.5771-0.31,0.877,0.877,0,0,1,.6211.1655c0.0218,0.0156.0456,0.0349,0.0711,0.0573l1.7436,1.6948,3.3387-3.73c0.0116-.0142.0332-0.0374,0.0626-0.068a0.9059,0.9059,0,0,1,.5922-0.2792,0.8848,0.8848,0,0,1,.6137.2012l0.0008-.0017c0.0179,0.0147.0406,0.0352,0.0675,0.0612h0.0017a1.0961,1.0961,0,0,1,.3189.726,1.1129,1.1129,0,0,1-.2412.76L54.04,48.75h0Z" transform="translate(-42 -44)"/></svg>
                    </div>
                  </div>
                  <input type="hidden" name="USER[NOTIFY_EMAIL]" value=""/>
                  <span>Получать уведомления по электронной почте</span>
                </div>
              </div>
            </div>
<!--            <div class="checkout-label my-address-label"><?= GetMessage("profile_my_address"); ?></div>
			<?php foreach($arResult['USER']['ADDRESSES'] as $address): ?>
            <div class="config-item top-border-fix"><a class="address-item" href="#" data-id="<?=$address['ID']?>"  data-target-title="<?=$address['NAME']?>"><?=$address['NAME']?></a></div>
			<?php endforeach; ?>
            <div class="add-address-cont"><a href="#" onclick="getAddressForm()" class="add-address font-fix"><span><?= GetMessage("profile_add_adress"); ?></span></a></div> -->
            <div class="profile-footer">
              <button type="submit" class="save-profile"><?= GetMessage("profile_save"); ?></button>
            </div>
   </form>
</div>
<!--<div class="profile-view districts-view" style="display: none;">
	<div class="checkboxes-mobile">
		<?php foreach($arResult["DESTRICT"] as $d): ?>
		<div class="bd-row-checkbox" data-id="<?php echo $d['ID']; ?>">
			<span><?php echo $d['NAME']; ?></span>
			<div class="base-image">
				<div class="image checkout_ico_checked">
					<svg viewBox="0 0 16 16"><path d="M54.04,48.75L50.106,53.2158H50.1044a0.9616,0.9616,0,0,1-.3215.2579v0.002a0.8512,0.8512,0,0,1-.7.0309,0.9307,0.9307,0,0,1-.2761-0.1678l-0.0017-.002-2.4466-2.3111a1.0781,1.0781,0,0,1-.3532-0.7056,1.1246,1.1246,0,0,1,.2041-0.7719h0a0.9164,0.9164,0,0,1,.06-0.0751l0.002-.0023a0.9131,0.9131,0,0,1,.5771-0.31,0.877,0.877,0,0,1,.6211.1655c0.0218,0.0156.0456,0.0349,0.0711,0.0573l1.7436,1.6948,3.3387-3.73c0.0116-.0142.0332-0.0374,0.0626-0.068a0.9059,0.9059,0,0,1,.5922-0.2792,0.8848,0.8848,0,0,1,.6137.2012l0.0008-.0017c0.0179,0.0147.0406,0.0352,0.0675,0.0612h0.0017a1.0961,1.0961,0,0,1,.3189.726,1.1129,1.1129,0,0,1-.2412.76L54.04,48.75h0Z" transform="translate(-42 -44)"></path></svg>
				</div>
			</div>
		</div>
		<?php endforeach; ?>
	</div>
</div>
<div class="profile-view address-view" style="display: none;">
	<form action="" method="post">
		<input type="hidden" name="ADDRESS[ID]"  value="">
		<div class="bd-input">
			<input type="text" name="ADDRESS[NAME]" placeholder="<?= GetMessage("profile_address_name"); ?>" value="">
		</div>
    <? /*
		<input type="hidden" name="ADDRESS[DISTRICT_ID]"  value="">
		<label class="bd-form-label"><strong><?=GetMessage('destrict_areas');?></strong></label>
		<div class="config-item top-border-fix"><a class="address-item dis" href="#" onclick="getProfileView('districts')" data-target-title="<?= GetMessage("destrict_areas"); ?>"><?=GetMessage('profile_destrict')?></a></div> */ ?>

		<label class="bd-form-label"><strong><?=GetMessage('profile_address_label');?></strong></label>
		<div class="bd-input">
			<input type="text" name="ADDRESS[STREET]" placeholder="<?= GetMessage("profile_street"); ?>" value="">
		</div>
		<div class="bd-input">
			<input type="text" name="ADDRESS[HOUSE]" placeholder="<?= GetMessage("profile_home"); ?>" value="">
		</div>
		<div class="bd-input">
			<input type="text" name="ADDRESS[APARTMENT]" placeholder="<?= GetMessage("profile_appartment"); ?>" value="">
		</div>
    <div class="bd-input">
      <input type="text" name="ADDRESS[PORCH]" placeholder="<?= GetMessage("profile_porch"); ?>" value="">
    </div>
    <div class="bd-input">
      <input type="text" name="ADDRESS[FLOOR]" placeholder="<?= GetMessage("profile_floor"); ?>" value="">
    </div>
		<div class="profile-footer">
			<button type="button" class="save-profile save-address"><?= GetMessage("profile_save"); ?></button>
		</div>
	</form>
</div> -->

<div class="profile-view history-view" style="display: none" id="orders">
			{{ if gt $User.OrdersNum 0 }}
				<div><-заказ-></div>
<!--				<div class="config-item"><a href="#" onclick="getProfileView('order<?php echo $order['ID']; ?>')" >#<?php echo $order['ID']; ?> - <?php echo formatLabel(count($basket),array(GetMessage("quantity"),GetMessage("quantitys"),GetMessage("quantitys_2"))); ?> <span class="date">(<?php echo date('d.m.Y',$order['ORDER_DATE']); ?>)</span> <span class="order-status" style="background-color: <?php echo Models\Order::$statuses[$order['STATUS']]['color']; ?>;"><?php echo Models\Order::$statuses[$order['STATUS']]['name']; ?></span></a></div>
	-->		{{ else }}
			    <div class="config-item">Вы не сделали ни одного заказа.</div>
			{{ end }}
</div>



</div>
</div>

{{ else }}

<div class="content container not-catalog">

<div class="col-xl-3 col-lg-4 col-md-12 profile-nav">
<div class="col-xl-12" style="padding: 0;">
<ul>
	<li ><a href="#orders">История заказов</a></li>
	<li ><a href="#bonuses">Бонусный счет</a></li>
	<li ><a href="#profile">Личные данные</a></li>
</ul>
</div>
<div class="user-info-element bonuses col-xl-12 col-lg-12">
	<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M442.491,241.824l-15.808-27.088c-2.08-3.564-6.655-4.766-10.22-2.687c-3.564,2.08-4.768,6.656-2.687,10.22l10.158,17.406
			h-96.192l48.099-82.408l14.088,24.139c2.08,3.565,6.657,4.768,10.22,2.687c3.564-2.08,4.768-6.656,2.687-10.22l-19.712-33.777
			c-1.845-3.161-5.266-5.126-8.927-5.126H137.804c-3.661,0-7.082,1.964-8.926,5.126L69.511,241.821
			c-2.132,3.651-1.842,8.174,0.741,11.525l103.663,134.399c1.472,1.909,3.685,2.909,5.922,2.909c1.593,0,3.199-0.507,4.558-1.556
			c3.268-2.52,3.873-7.213,1.353-10.481l-95.64-123.998h101.311l49.223,195.168l-26.057-33.784
			c-2.519-3.266-7.213-3.873-10.481-1.352c-3.268,2.52-3.873,7.213-1.353,10.48l45.063,58.426c1.972,2.558,4.956,4.025,8.186,4.025
			c3.23,0,6.213-1.467,8.185-4.024L441.75,253.345C444.332,249.995,444.622,245.472,442.491,241.824z M362.827,149.915
			l-47.921,82.104l-46.136-82.104H362.827z M302.065,239.675h-92.13L256,157.696L302.065,239.675z M88.067,239.675l48.093-82.408
			l48.099,82.408H88.067z M149.173,149.915h94.057l-46.136,82.104L149.173,149.915z M256,449.569l-49.168-194.95h98.336L256,449.569
			z M271.358,449.789l49.223-195.169h101.311L271.358,449.789z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256,24.418c-4.126,0-7.472,3.345-7.472,7.472v33.875c0,4.127,3.345,7.472,7.472,7.472s7.472-3.345,7.472-7.472V31.89
			C263.472,27.763,260.126,24.418,256,24.418z"/>
	</g>
</g>
<g>
	<g>
		<path d="M437.019,82.794c-2.918-2.917-7.649-2.917-10.567,0l-23.953,23.952c-2.918,2.919-2.918,7.649,0,10.568
			c1.459,1.458,3.371,2.188,5.283,2.188c1.912,0,3.825-0.73,5.284-2.188l23.953-23.952
			C439.937,90.443,439.937,85.713,437.019,82.794z"/>
	</g>
</g>
<g>
	<g>
		<path d="M504.528,256.34h-33.875c-4.127,0-7.472,3.345-7.472,7.472s3.346,7.472,7.472,7.472h33.875
			c4.127,0,7.472-3.345,7.472-7.472C512,259.685,508.654,256.34,504.528,256.34z"/>
	</g>
</g>
<g>
	<g>
		<path d="M41.347,256.34H7.472c-4.127,0-7.472,3.345-7.472,7.472s3.346,7.472,7.472,7.472h33.875c4.127,0,7.472-3.345,7.472-7.472
			C48.819,259.685,45.474,256.34,41.347,256.34z"/>
	</g>
</g>
<g>
	<g>
		<path d="M109.502,106.746L85.548,82.793c-2.918-2.917-7.649-2.917-10.567,0c-2.918,2.919-2.918,7.649,0,10.568l23.953,23.953
			c1.459,1.458,3.371,2.188,5.284,2.188c1.913,0,3.825-0.73,5.284-2.188C112.42,114.395,112.42,109.665,109.502,106.746z"/>
	</g>
</g>
</svg>
<div class="value"><span></span><span class="currency font-fix">R</span></div>
<div class="title">На Вашем бонусном счете</div>
</div>
</div>



<div class="col-xl-9 col-lg-8 col-md-12 profile-bread" id="profile">

<div class="col-xl-12 col-lg-12 breadcrumb-box">
            <h1 class="font-fix">Личный кабинет</h1>
         <!--   <div class="breadcrumb-container font-fix">
			  <div class="breadcrumb-path-container">
			<div class="breadcrumb-item" id="bx_breadcrumb_0" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1">
				
				<a href="/" title="Главная" itemprop="url">
					<span itemprop="title">Главная</span>
				</a>
			</div>
			<div class="breadcrumb-item" id="bx_breadcrumb_1" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
				<span class="delimiter">/</span>
				<a href="/my/" title="Личный кабинет" itemprop="url">
					<span itemprop="title">Личный кабинет</span>
				</a>
			</div>
				<span class="delimiter">/</span>
				<span class="last-item">Личные данные</span>
			</div>            </div> -->
          </div>

<div class="profile-content col-xs-12 padt0">
	<form id="cabinetform" action="" method="post">
		<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-6">
			<input type="hidden" name="USER[ID]" value="{{$User.CustomerID}}">
			<div class="row">
				<div class="col-xs-8">
					<div class="bd-input {{ if $User.Name }}filled{{ end }}">
						<label class="text-xs-left">Имя</label>
						<input type="text" class="text-xs-left" name="USER[NAME]"
						       value="{{ $User.Name }}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="bd-input">
						<label class="text-xs-left">Дата рождения</label>
						<input type="text" maxlength="10" class="text-xs-left" name="USER[BIRTHDAY]"
						       value="">
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-xs-8">
						<div
							class="bd-input {{ if $User.Phones }}filled{{ end }}">
							<label class="text-xs-left">Телефон</label>
							<input type="text" class="text-xs-left" name="USER[PHONE]"
							       value="{{ $User.Phones }}">
						</div>
					</div>
				</div>
		</div>
		<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-6 notify-config-block">

				<div class="row profile-phone">
					<div class="col-sm-12 col-xs-12">
						<div class="current-phone">{{ $User.EMail }}</div>
						<div
							class="change-phone">Чтобы изменить электронную почту обратитесь в службу поддержки по телефону +7 (473) 229-58-54</div>
					</div>
				</div>

			<div class="row notify-config">
				<div class="col-xs-12">
					<input type="hidden" name="USER[NOTIFY_SMS]"
					       value=""/>
					<input type="hidden" name="USER[NOTIFY_EMAIL]"
					       value=""/>
					<div class="bd-checkbox">
						<input id="NOTIFY_SMS"
						       type="checkbox"
						       data-target="NOTIFY_SMS">
						<label for="NOTIFY_SMS"><span>Получать уведомления по sms</span>
						</label>
					</div>
					<div class="bd-checkbox">
						<input
							id="NOTIFY_EMAIL"
							type="checkbox"
							data-target="NOTIFY_EMAIL">
						<label for="NOTIFY_EMAIL">
							<span> Получать уведомления по электронной почте</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row address-list-container">
		<!--	<div class="title col-xs-12">Мои адреса</div>
			<div class="address-list row">
				{{ range $User.Addresses }}
					<div class="address-item col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="hidden" class="to_delete" name="ADDRESS[{{ .AddressID }}][TO_DELETE]"
						       value="0"/>
						<div class="row sub-row">
							<div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<div class="bd-input">
									<label class="text-xs-left">Название</label>
									<input readonly type="text" name="ADDRESS[{{ .AddressID }}][NAME]"
									       value="йцукен" class="text-xs-left">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<a href="#"
								   class="address-button edit-address closed_field">Редактировать</a>
								<div class="opened_field">
									<a href="#" class="remove-address">Удалить адрес</a>
								</div>
							</div>
						</div>
						<div class="row sub-row opened_field">
							
							<div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-xs-12">
								<div class="bd-input {{ if .Town }}filled{{ end }}">
									<label class="text-xs-left">Город</label>
									<input type="text" name="ADDRESS[{{ .AddressID }}][TOWN]"
									       value="{{ .Town }}" class="text-xs-left">
								</div>
							</div>
						</div>
						<div class="row sub-row opened_field">
							
							<div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-xs-12">
								<div class="bd-input {{ if .Street }}filled{{ end }}">
									<label class="text-xs-left">Улица</label>
									<input type="text" name="ADDRESS[{{ .AddressID }}][STREET]"
									       value="{{ .Street }}" class="text-xs-left">
								</div>
							</div>
						</div>
						<div class="row sub-row opened_field">

							<div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4">
								<div class="bd-input {{ if .Home}}filled{{ end }}>">
									<label class="text-xs-left">Дом</label>
									<input type="text" class="text-xs-left"
									       name="ADDRESS[{{ .AddressID }}][HOME]"
									       value="{{ .Home }}">
								</div>
							</div>
							<div
								class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4 nopadl not_private_house_fields">
								<div
									class="bd-input {{ if .Doorway}}filled{{ end }}">
									<label class="text-xs-left">Квартира</label>
									<input type="text" class="text-xs-left"
									       name="ADDRESS[{{ .AddressID }}][DOORWAY]"
									       value="{{ .Doorway }}">
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4 nopadl address_private">
								<div class="bd-checkbox">
									<input name="ADDRESS[{{ .AddressID }}][IS_PRIVATE]" value="Y"
									       id="PRIVATE_{{ .AddressID }}"
									       type="checkbox"
									       data-target="PRIVATE_{{ .AddressID }}">
									<label
										for="PRIVATE_{{ .AddressID }}"><span>Частный дом</span>
									</label>
								</div>
							</div>
						</div>
						<div class="row sub-row opened_field">
							<div
								class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4 not_private_house_fields">
								<div
									class="bd-input {{ if .Flor }}filled{{ end }}">
									<label class="text-xs-left">Подъезд</label>
									<input type="text" class="text-xs-left"
									       name="ADDRESS[{{ .AddressID }}][FLOR]"
									       value="{{ .Flor }}">
								</div>
							</div>
							<div
								class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4 nopadl not_private_house_fields">
								<div
									class="bd-input {{ if .Flat }}filled{{ end }}">
									<label class="text-xs-left">Этаж</label>
									<input type="text" class="text-xs-left"
									       name="ADDRESS[{{ .AddressID }}][FLAT]"
									       value="{{ .Flat }}">
								</div>
							</div>
						</div>
					</div>
				{{ end }}
			</div>
			<div class="address-template_" style="display: none;">

				<div class="address-item col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12 opened">
					<div class="clearfix"></div>
					<input type="hidden" class="to_delete" name="NEW_ADDRESS[TO_DELETE]" value="0"/>
					<div class="row sub-row">
						<div class="col-xs-6">
							<div class="bd-input">
								<label class="text-xs-left">Название</label>
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[NAME]">
							</div>
						</div>
						<div class="col-xs-6"><a href="#"
						                         class="remove-address">Удалить адрес</a>
						</div>
					</div>
					<div class="row sub-row">
						<div class="col-xs-6">
							<div class="bd-input">
								<label class="text-xs-left">Город</label>
								<input name="ORDER[TOWNID]" type="hidden" id="townid" >
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[TOWN]" id="town" onClick="townstring()">
							</div>
						</div>
					</div>
					<div class="row sub-row">
						<div class="col-xs-6">
							<div class="bd-input">
								<label class="text-xs-left">Улица</label>
								<input name="ORDER[STREETID]" type="hidden" id="streetid" >
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[STREET]" id="street" disabled>
							</div>
						</div>
					</div>
					<div class="row sub-row">

						<div class="col-xs-4">
							<div class="bd-input">
								<label class="text-xs-left">Дом</label>
								<input name="ORDER[HOUSEID]" type="hidden" id="houseid" >
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[HOME]" id="house" disabled>
							</div>
						</div>
						<div class="col-xs-4 nopadl not_private_house_fields">
							<div class="bd-input">
								<label class="text-xs-left">Квартира</label>
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[DOORWAY]">
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-4 nopadl address_private">
							<div class="bd-checkbox">
								<input name="NEW_ADDRESS[IS_PRIVATE]" value="Y" id="PRIVATE_"
								       type="checkbox" data-target="PRIVATE_">
								<label for="PRIVATE_"><span>Частный дом</span>
								</label>
							</div>
						</div>
					</div>
					<div class="row sub-row">

						<div class="col-xs-4 not_private_house_fields">
							<div class="bd-input">
								<label class="text-xs-left">Подъезд</label>
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[FLOR]">
							</div>
						</div>
						<div class="col-xs-4 nopadl not_private_house_fields">
							<div class="bd-input">
								<label class="text-xs-left">Этаж</label>
								<input type="text" class="text-xs-left" name="NEW_ADDRESS[FLAT]">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-10"><a href="#"
			                          class="address-button add-address">Добавить адрес</a>
			</div> -->
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<button type="submit" class="save-profile">Сохранить изменения</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>



<div class="col-xl-9 col-lg-8 col-md-12" id="bonusprogram" style="display: none">
	        <div class="col-xl-12 col-lg-12 breadcrumb-box">
		            <h1 class="font-fix">Личный кабинет</h1>

		    </div> 
               <div class="profile-content bonuses font-fix">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 progress-main">
	              <div class="bonuses-progress-cont">
		              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M442.491,241.824l-15.808-27.088c-2.08-3.564-6.655-4.766-10.22-2.687c-3.564,2.08-4.768,6.656-2.687,10.22l10.158,17.406
			h-96.192l48.099-82.408l14.088,24.139c2.08,3.565,6.657,4.768,10.22,2.687c3.564-2.08,4.768-6.656,2.687-10.22l-19.712-33.777
			c-1.845-3.161-5.266-5.126-8.927-5.126H137.804c-3.661,0-7.082,1.964-8.926,5.126L69.511,241.821
			c-2.132,3.651-1.842,8.174,0.741,11.525l103.663,134.399c1.472,1.909,3.685,2.909,5.922,2.909c1.593,0,3.199-0.507,4.558-1.556
			c3.268-2.52,3.873-7.213,1.353-10.481l-95.64-123.998h101.311l49.223,195.168l-26.057-33.784
			c-2.519-3.266-7.213-3.873-10.481-1.352c-3.268,2.52-3.873,7.213-1.353,10.48l45.063,58.426c1.972,2.558,4.956,4.025,8.186,4.025
			c3.23,0,6.213-1.467,8.185-4.024L441.75,253.345C444.332,249.995,444.622,245.472,442.491,241.824z M362.827,149.915
			l-47.921,82.104l-46.136-82.104H362.827z M302.065,239.675h-92.13L256,157.696L302.065,239.675z M88.067,239.675l48.093-82.408
			l48.099,82.408H88.067z M149.173,149.915h94.057l-46.136,82.104L149.173,149.915z M256,449.569l-49.168-194.95h98.336L256,449.569
			z M271.358,449.789l49.223-195.169h101.311L271.358,449.789z"></path>
	</g>
</g>
<g>
	<g>
		<path d="M256,24.418c-4.126,0-7.472,3.345-7.472,7.472v33.875c0,4.127,3.345,7.472,7.472,7.472s7.472-3.345,7.472-7.472V31.89
			C263.472,27.763,260.126,24.418,256,24.418z"></path>
	</g>
</g>
<g>
	<g>
		<path d="M437.019,82.794c-2.918-2.917-7.649-2.917-10.567,0l-23.953,23.952c-2.918,2.919-2.918,7.649,0,10.568
			c1.459,1.458,3.371,2.188,5.283,2.188c1.912,0,3.825-0.73,5.284-2.188l23.953-23.952
			C439.937,90.443,439.937,85.713,437.019,82.794z"></path>
	</g>
</g>
<g>
	<g>
		<path d="M504.528,256.34h-33.875c-4.127,0-7.472,3.345-7.472,7.472s3.346,7.472,7.472,7.472h33.875
			c4.127,0,7.472-3.345,7.472-7.472C512,259.685,508.654,256.34,504.528,256.34z"></path>
	</g>
</g>
<g>
	<g>
		<path d="M41.347,256.34H7.472c-4.127,0-7.472,3.345-7.472,7.472s3.346,7.472,7.472,7.472h33.875c4.127,0,7.472-3.345,7.472-7.472
			C48.819,259.685,45.474,256.34,41.347,256.34z"></path>
	</g>
</g>
<g>
	<g>
		<path d="M109.502,106.746L85.548,82.793c-2.918-2.917-7.649-2.917-10.567,0c-2.918,2.919-2.918,7.649,0,10.568l23.953,23.953
			c1.459,1.458,3.371,2.188,5.284,2.188c1.913,0,3.825-0.73,5.284-2.188C112.42,114.395,112.42,109.665,109.502,106.746z"></path>
	</g>
</g>
</svg>
				<div class="bonuses-progress">
                  <div class="bonuses-progress-item got">3%</div>
                  <div class="bonuses-progress-item ">6%</div>
                  <div class="bonuses-progress-item ">10%</div>
                </div>
	              </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadl progress-information">
                                  <div class="progress-stat">Вы заказали на <span class="orders-totals"></span> <span class="currency">R</span> осталось <span class="span orders-totals-need"></span><span class="currency">R</span> до повышения уровня скидки</div>
                
              </div>
            </div>
            <div class="bonus-rules-cont col-xs-9">
	            <div class="title">Условия бонусной программы</div>
	            <ul>
		            <li>Бонусы зачисляются на счет после выставления заказу статуса «Доставлен»</li>
		            <li>На сумму покупки оплаченному бонусами, бонусы не начисляются.</li>
		            <li>Один бонусный рубль эквивалентен одному рублю.</li>
		            <li>Бонусами можно полностью или частично оплатить заказ.</li>
		            <li>Наша компания оставляет за собой право изменить правила и условия программы в любое время без предварительного уведомления.</li>
		            <li>Бонусные рубли не могут быть переведены в рубли</li>
	            </ul>
            </div>
          </div>

</div>

<div class="col-xl-9 col-lg-8 col-md-12" id="orderhistory" style="display: none">
	        <div class="col-xl-12 col-lg-12 breadcrumb-box">
            <h1 class="font-fix">Личный кабинет</h1>
      		</div>
        <div class="profile-form"> 
          
<div class="profile-content order-history">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{{ if gt $User.OrdersNum 0 }}
                <table class="order-history-table">
                  <thead>
                    <tr>
                      <td>Номер</td>
                      <td>Дата</td>
                      <td>Заказ</td>
                      <td>Итого</td>
                      <td>Статус</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody id="orderstable">
                    
                  </tbody>
                </table>
                {{ else }}
                <div class="col-xs-12">
                  <div class="has-not-orders">Вы не сделали ни одного заказа.</div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>

		</div>
</div>
</div>

{{ end }}

{{ template "footer" . }}


{{ end }}