{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="{{.Description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{{.Title}}</title>

<!-- Here styles and js have been connected before. -->
{{ if .IsMobile }}

<!-- MOBILE START -->
	
	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/assets/js/mobile/script.js"></script>
	
<!-- MOBILE END -->

{{ else }}

<!-- PC START -->

    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- PC END -->

{{ end }}

<script>
var Session = {{ .Session}}

{{$User := GetCurrentUser .Session }};
var User = {{$User}}
var CustomerID = {{$User.CustomerID}}
checkoutuser(User);

{{ if gt .UserID 0 }}
window.top_navbar = '<a href="/my/" class="settings-icon"><span class="icon"></span></a><a href="#" onclick="openMainProfileNav();" class="profile-icon"><span class="icon"></span>';
window.top_navbar += '<div class="login-text">Мои бонусы<span class="bonus_value">{{$User.Bonuses}}<span class="currency">R</span></span></div>';
window.top_navbar += '</a><a href="?logout=yes" class="logout-icon"><span class="icon"></span></a>';
{{ else }}
window.top_navbar = '<a href="#" class="profile-icon login-trigger"><span class="icon"></span><div class="login-text login-fixed guest">Войти</div></a>';
{{ end }}

{{$Basket := GetBasket .Session }};
var Basket = {{$Basket}}
</script>

<style>.auth-block svg, .basket-btn svg, .ingridients-filter-btn svg, .gift-toggle svg, .badge svg {max-width: 24px}</style>
</head>

{{ end }}
