{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="{{.Description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{{.Title}}</title>
<style>.icon, svg {max-width: 64px !important;} #basket {display: none}.auth-btn svg {max-width: 32px;}#preloader {width:100%;height:100%;background: rgba(255,255,255,0.94);position: fixed;left: 0;right: 0;z-index:99999}</style>

<!-- PC START -->

	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.tmpl.min.js"></script>
	

	<script type="text/javascript" src="/assets/js/flickity.pkgd.js"></script>

	<script type="text/javascript" src="/assets/js/popover.js"></script>
	<script type="text/javascript" src="/assets/js/popper.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/assets/js/main.js"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

<!-- PC END -->

<script type="text/javascript">
window.addEventListener('error', function(e) {
    console.log(e);
}, true);
</script>
<script>
var Session = {{ .Session}}

{{$User := GetCurrentUser .Session }};
var User = {{$User}}
var CustomerID = {{$User.CustomerID}}
checkoutuser(User);

{{ if gt .UserID 0 }}
window.top_navbar = '<a href="/my/" class="settings-icon"><span class="icon"></span></a><a href="#" onclick="openMainProfileNav();" class="profile-icon"><span class="icon"></span>';
window.top_navbar += '<div class="login-text">Мои бонусы<span class="bonus_value">{{$User.Bonuses}}<span class="currency">R</span></span></div>';
window.top_navbar += '</a><a href="?logout=yes" class="logout-icon"><span class="icon"></span></a>';
{{ else }}
window.top_navbar = '<a href="#" class="profile-icon login-trigger"><span class="icon"></span><div class="login-text login-fixed guest">Войти</div></a>';
{{ end }}

{{$Basket := GetBasket .Session }};
var Basket = {{$Basket}}
</script>
<style></style>

</head>

{{ end }}
