{{ define "menu" }}

{{ if .IsMobile }}

<nav id="menu" class="mm-menu mm-theme-white mm-effect-listitems-slide mm-border-offset mm-offcanvas mm-hasnavbar-top-4">

<ul class="mm-listview">
		{{range GetMenuList 2}}
		<li>{{ if .PicUri }}<img src="{{ .PicUri }}">{{ end }}<a href="{{ .Uri }}" {{ if .PicUri }}class="delivphone"{{ end }} >{{ .Caption }}</a></li>
		{{ end }}  
	</ul>
      
</nav>

<div class="header"><a class="mainmenu" href="#menu"></a>
        <div class="title">
            <a href="/" class="logo"> <img src="/assets/pictures/Logo.png"></a>
			<span></span>
        </div>

		      <div class="basket-toggle">
        <svg viewBox="0 0 32 32"><path d="M26.899,9C26.436,6.718,24.419,5,22,5H10C7.581,5,5.564,6.718,5.101,9H0l3,13c0,2.761,2.239,5,5,5h16c2.761,0,5-2.239,5-5 l3-13H26.899z M10,7h12c1.304,0,2.403,0.837,2.816,2H7.184C7.597,7.837,8.696,7,10,7z M27,22c-0.398,1.838-1.343,3-3,3H8 c-1.657,0-2.734-1.343-3-3L2.563,11H5v1h2v-1h18v1h2v-1h2.437L27,22z M10,21h12v-2H10V21z M9,17h14v-2H9V17z"/></svg>
              <span class="basket-header-sum"  style="display: none"> 
              <span></span>
              <span class="currency">R</span>
			  </span>
          <span class="close-basket">&times;</span>
      </div>
    </div>

<div class="basket basket-p" style="display: none;">
  <div class="basket-view main-view">
    <div class="progress-container gift-progress">
      <div style="width: 0%;" class="progress-bar"></div>
      <div class="progress-bar-content font-fix">
        <div class="sum-to-gift">Если вы потратите еще <span>0</span><span class="currency"R></span><br> вы получите подарок</div>
      </div>
    </div>
    <div class="gift-progress-complete" style="display: none;">
      <a href="/gifts/"><span>Выбрать подарок</span></a>
    </div>

    <div class="products-list">

    </div>
    <div class="grey-bg-basket">
      <div class="ot-cont basket-actions">
      <div class="col-xs-6 order-total-container">
        <div class="order-total">

          <div class="order-sum font-fix"><span></span><span class="currency">R</span></div>
          <div class="order-discount">Скидка<span></span>%</div>
        </div>
      </div>
 <!--      <div class="col-xs-6 bonuses-info text-xs-left">
       {{if gt .UserID 0 }}
            <?php if(\COption::GetOptionString('bd.deliverysushi','BD_SUB_MODULE_BONUSES_NOT_APPEND_BONUSES_PROMO','',SITE_ID)=='Y'): ?>
              <div class="bonuses-with-promo-disabled"><?=GetMessage("ORDER_NO_BONUSES");?></div>
            <?php endif; ?>
            <div class="default-text">
              <?=GetMessage("ORDER_BONUS_1");?><br /> <span></span> <span class="currency"><?=CURRENCY_FONT; ?></span> <?=GetMessage("ORDER_BONUS_2");?>
            </div>
          <?php else: ?>
            <?=GetMessage("ORDER_BONUS_3");?>
          <?php endif; ?>
        <?php else: ?>
          <?=GetMessage("ORDER_BONUS_DISABLED");?>
		{{ end }} 
      </div>-->
    </div>
    </div>
	<div class="checkout-cont">
      <button type="button" onclick="window.location.href='/checkout/'" class="checkout-btn">Оформить заказ</button>
    </div>
      <div class="progress-container in-progress min-order-progress" data-min-order="500">
          <div class="progress-bar"></div>
          <div class="progress-bar-content">
              <div class="min-order-sum"><span>Минимальная сумма заказа</span><span>500</span><span class="currency">R</span></div>
          </div>
      </div>
  </div>
  <div style="display: none;" class="basket-view change-view product-info-cont">
    <div class="status-bar detail-shadow">
      <a href="#" onclick="backToBasket()" class="back"></a>
      <div class="title"></div>
    </div>
    <div class="product-detail-cont constructor-view ">
      <div class="product product-detail">
        <div class="name"></div>
        <div class="product-image"><img></div>
        <div class="likes">
          <div class="like-content">
            <div class="like-icon"></div><span></span>
          </div>
        </div>
        <div class="constructor-scroll-content scrollbar-macosx">
          <div class="row description">
            <div class="col-xs-12">
            </div>
          </div>
          <div class="row constructor-content">
            <div class="col-xs-12">
              <div class="property-label">Основа</div>
              <div class="property-value base_value_"></div>
              <div class="property-label">Соус</div>
              <div class="property-value souse_value_"></div>
              <div class="property-label">Начинка</div>
              <div class="ingredients_list_">
              </div>
            </div>
          </div>
        </div>
        <div itemprop="description" class="product-description"></div>
        <div class="product-footer">
          <div class="product-options">

            <div class="clearfix"></div>
          </div>
          <div class="product-actions">
            <button disabled class="apply-view native">Сохранить изменения</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>	
	
{{ else }}

      <header>
<div class="top-line font-fix" style="margin-bottom: 0px;">
          <div class="container">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-2">
                <div class="logo">
	                <a href="/"><img src="/assets/pictures/Logo.png"></a>		            
				</div>
              </div>
              <div class="col-xl-5 col-lg-4 col-md-5 col-sm-3 col-xs-4">
                <div class="information-top-menu">
                  <nav>
                    <ul class="popover-nav">
						{{ range GetMenuList 1}}
						<li><a href={{ .Uri }}>{{ .Caption }}</a></li>
						{{ end }}
					</ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-5 col-xs-6 text-xs-right">
                <div class="phone hidden-md-down">
					<div class="block-phones">+7 (473) 229-58-54</div>
                    <div class="block-callback"><a href="#" onclick="yaCounter47433220.reachGoal('call');return true;" class="open-callback">Заказать звонок</a></div>
				</div>
                <div class="auth-block">
               		<a href="#" data-id="bonuses-info" data-handler="popover" class="bonuses-info-btn">
		<i class="bd-round-icon">
			<svg version="1.1" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 35.5 35.5" style="enable-background:new 0 0 35.5 35.5;" xml:space="preserve">
<g>
	<path d="M35.154,16.667c0.225,0.403,0.346,0.822,0.346,1.25c0,3.521-7.947,6.375-17.75,6.375C7.947,24.292,0,21.438,0,17.917
		c0-0.428,0.123-0.847,0.347-1.25c1.618,2.922,8.793,5.125,17.403,5.125C26.361,21.792,33.537,19.589,35.154,16.667z M17.75,28.625
		c-8.61,0-15.785-2.203-17.403-5.125C0.123,23.904,0,24.322,0,24.75c0,3.521,7.947,6.375,17.75,6.375
		c9.805,0,17.75-2.854,17.75-6.375c0-0.428-0.121-0.846-0.346-1.25C33.537,26.422,26.361,28.625,17.75,28.625z M17.75,4.375
		C7.947,4.375,0,7.229,0,10.75s7.947,6.375,17.75,6.375c9.805,0,17.75-2.854,17.75-6.375S27.553,4.375,17.75,4.375z"></path>
</g>
</svg>
		</i>
	</a>
		<a class="auth-btn" href="#" data-handler="popover" data-id="auth">
	<i class="bd-round-icon">
                      <svg viewBox="0 0 60 60"><path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951 c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319 c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056 v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309 c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043 C53,47.519,51.089,44.427,48.014,42.889z"></path></svg></i><span></span></a>
</div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
<div class="product-categories-container grey-fw-container">
          <div class="container">
            <div class="row">
	           <nav class="col-xl-11 col-lg-11 col-md-10 col-sm-10 col-xs-8">
	            

                <ul class="font-fix general-menu">
	
	
{{ range .MenuStructure }}

{{ if .IsSubMenu }}

<li class="dropdown" > 
	<a href="{{ .GroupURL }}" class="dropdown-toggle{{ if .IsActive }} pop-active {{end }}">{{ .GroupName }}</a>
		<ul class="dropdown-menu">
		{{ range .SubMenus }}
        <a href="{{ .GroupURL}}"><li class="dropdown-item {{ if .IsActive }} pop-active {{end }}"> {{ .GroupName }}</li></a>
		{{ end }}
    </ul>
</li>               
                
{{ else }}

<li><a href="{{ .GroupURL }}" {{ if .IsActive }} class="pop-active" {{end }}>{{ .GroupName }}</a></li>

{{ end }}
{{ end }}
				    
 <li class="menu-extend-cont" style="display: none;"><a href="#" data-id="menu-extend" data-handler="popover" class="menu-more-btn">Ещё</a></li>
 </ul>           
                <div id="menu-extend" class="bd-popup">
                  <nav>
                    <ul class="popover-nav menu-extended">

                    </ul>
                  </nav>
                </div>
                
              
</nav>

              <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-4 basket-btn-container text-xs-right">
	              	            <a class="basket-btn" href="#" data-handler="popover" data-id="basket" data-target="popover-basket">
                  <div class="empty-basket" style="display: block;"><i class="bd-round-icon">
                      <svg viewBox="0 0 32 32"><path d="M26.899,9C26.436,6.718,24.419,5,22,5H10C7.581,5,5.564,6.718,5.101,9H0l3,13c0,2.761,2.239,5,5,5h16c2.761,0,5-2.239,5-5 l3-13H26.899z M10,7h12c1.304,0,2.403,0.837,2.816,2H7.184C7.597,7.837,8.696,7,10,7z M27,22c-0.398,1.838-1.343,3-3,3H8 c-1.657,0-2.734-1.343-3-3L2.563,11H5v1h2v-1h18v1h2v-1h2.437L27,22z M10,21h12v-2H10V21z M9,17h14v-2H9V17z"></path></svg></i></div>
                  <div class="not-empty-basket" style="display: none;">
                    <svg viewBox="0 0 32 32"><path d="M26.899,9C26.436,6.718,24.419,5,22,5H10C7.581,5,5.564,6.718,5.101,9H0l3,13c0,2.761,2.239,5,5,5h16c2.761,0,5-2.239,5-5 l3-13H26.899z M10,7h12c1.304,0,2.403,0.837,2.816,2H7.184C7.597,7.837,8.696,7,10,7z M27,22c-0.398,1.838-1.343,3-3,3H8 c-1.657,0-2.734-1.343-3-3L2.563,11H5v1h2v-1h18v1h2v-1h2.437L27,22z M10,21h12v-2H10V21z M9,17h14v-2H9V17z"></path></svg><span class="basket-sum"><span>1 270</span><span class="currency font-fix">R</span></span>
                  </div>
                  <div class="close-basket">
                    <div class="bd-round-icon">
                      <svg viewBox="0 0 129 129" enable-background="new 0 0 129 129">
                        <path d="M7.6,121.4c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2l51.1-51.1l51.1,51.1c0.8,0.8,1.8,1.2,2.9,1.2c1,0,2.1-0.4,2.9-1.2   c1.6-1.6,1.6-4.2,0-5.8L70.3,64.5l51.1-51.1c1.6-1.6,1.6-4.2,0-5.8s-4.2-1.6-5.8,0L64.5,58.7L13.4,7.6C11.8,6,9.2,6,7.6,7.6   s-1.6,4.2,0,5.8l51.1,51.1L7.6,115.6C6,117.2,6,119.8,7.6,121.4z"></path>
                      </svg>
                    </div>
                  </div></a>

              </div>
            </div>
          </div>
        </div>
{{ end }}

{{ end }}