{{ define "news_list" }}

{{ template "header" . }}
<body class="  index-page fixed-header">
{{ template "menu" . }} 
</header>
<div class="content container">
{{ .Content }}

</div>

{{ if .IsMobile }}

<!-- MOBILE START -->

	<link href="/assets/css/mobile/style.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/roboto.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/flickity.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/currency.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/custom.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/selectordie.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/reset.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/mobile/template_styles.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/jquery.scrollbar.css" type="text/css" rel="stylesheet">
	<link href="/assets/jquery/jquery-ui.min.css" type="text/css" rel="stylesheet">	
	
	<script type="text/javascript" src="/assets/jquery/jquery-ui.min.js"></script>
	<script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
	<script type="text/javascript" src="/assets/js/popper.js"></script>
	<script type="text/javascript" src="/assets/js//jquery.mask.min.js"></script>	
	<script type="text/javascript" src="/assets/js/flickity.pkgd.js"></script>
	<script type="text/javascript" src="/assets/js/mobile/jquery.mmenu.all.min.umd.js"></script>
	<script type="text/javascript" src="/assets/js/mobile/selectordie.js"></script>
	<script type="text/javascript" src="/assets/js/mobile/sourcebuster.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.scrollbar.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	
<!-- MOBILE END -->

{{ else }}

<!-- PC START -->

   <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/animate.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.fancybox.css" type="text/css" rel="stylesheet"> 
   <link href="/assets/css/flickity.css" type="text/css" rel="stylesheet">
   <link href="/assets/jquery/jquery-ui.min.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.scrollbar.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/jquery.webui-popover.css" rel="stylesheet">
   <link href="/assets/css/selectordie.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/roboto.css" type="text/css" rel="stylesheet">
   <link href="/assets/css/currency.css" type="text/css" rel="stylesheet">

	<script type="text/javascript" src="/assets/jquery/jquery-ui.min.js"></script>
	<script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
	<script type="text/javascript" src="/assets/js/popover.js"></script>
	<script type="text/javascript" src="/assets/js/popper.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.scrollbar.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>	
	<script type="text/javascript" src="/assets/js/flickity.pkgd.js"></script>
	<script type="text/javascript" src="/assets/js/selectordie.js"></script>
	<script type="text/javascript" src="/assets/js/modal.js"></script>
	<script type="text/javascript" src="/assets/js/infinite-scroll.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- PC END -->

{{ end }}

</body>
{{ end }}